<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
 
  
 
 
  <ion-row>
    <ion-col offset=".5" size="8.5" size-md="9.5">
      <ion-list class="adjust1">
        <ion-icon color="light" size="small" fill="solid" name="menu-outline"></ion-icon>
      </ion-list>

    </ion-col>
    <ion-col size="3" size-md="2">
      <ion-avatar (click)="getPicnShare() ">
        <img alt="Silhouette of a person's head" [src]="image" />
      </ion-avatar>
    </ion-col>
    
    <ion-col offset=".5" size="10" size-md="10">
      <h2><b>Welcome</b></h2>
      <h3>Our Fashion App</h3>
    </ion-col>
    <ion-col offset=".5" size="8.5" size-md="9.5">
      <ion-searchbar  color="light"></ion-searchbar>
    </ion-col>
    <ion-col size="3" size-md="2">
      
      <ion-list class="adjust1">
      <ion-icon size="small" fill="solid" color="light" name="stats-chart-outline"></ion-icon>
    </ion-list>
    </ion-col>
    <ion-col offset=".5" size="11" size-md="11" >
      <swiper-container  [breakpoints]="{
        '700': {
         'slidesPerView':3,
        },
        '300':{
          'slidesPerView':1,
        }
       
      }" >
        <swiper-slide  *ngFor="let cart of cart; let i = index">
           <ion-card id="card-{{i}}" >
        <ion-row>
          <ion-col size="4" size-md="4">
            <img class="image" src={{cart.img}} alt="">
          </ion-col>
          <ion-col size="5.5" size-md="5.5">
            <ion-text color="dark">
              <b>
                {{cart.title}}
              </b>
            </ion-text>
            <br><br>
            {{cart.details}}
            <br><br>
            <ion-text color="dark">
              <b>
                ${{cart.price}}
              </b>
            </ion-text>

          </ion-col>
          <ion-col size="2" size-md="2">
            <ion-list class="adjust1 adjust2">
            <ion-icon color="light" size="small" name="chevron-forward-outline" ></ion-icon>
          </ion-list>
          </ion-col>

        </ion-row>
        <ion-button >Share Card Image</ion-button>

      </ion-card>
    </swiper-slide>
    </swiper-container>
 
    </ion-col>
  
    <ion-col offset=".5" size="10" size-md="10">
      <ion-title><b>Categories</b></ion-title>
   </ion-col>
   <ion-col offset=".5" size="11" size-md="11">
    <swiper-container  [breakpoints]="{
      '700': {
       'slidesPerView':8,
      },
      '300': {
        'slidesPerView':4,
       }
    }" >
      <swiper-slide *ngFor="let cat of categories;let i=index">
        <ion-button (click)="gotto(i)" shape="round" class="adjust3" color="dark" fill="outline">{{cat.name}}</ion-button>

        </swiper-slide>
    </swiper-container>
     
   </ion-col>
   <ion-col offset=".5" size="8" size-md="8">
    <ion-title><b>Top Dresses</b></ion-title>
 </ion-col>
 
 <ion-col class="ion-text-center" offset=".5" size="2" size-md="2">
   view all
</ion-col>

<app-card  [item]="items|mypipe"></app-card>
<app-footer [check]="1" ></app-footer>



  </ion-row>
</ion-content>