.adjust1{

    position: absolute;
    top: 54%;
    left:43% ;
    font-size: 12px;
}
.adjust2{
    margin-left: auto;
    margin-right: auto;
}
.adjust3{
    padding-top: 40px;
    text-align: center;
}
div{

    font-size:20px ;
}


