<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col offset=".5" size="11" size-md="11">
      <ion-icon name="arrow-back-circle" size="large"></ion-icon>
    </ion-col>
    <ion-col offset=".5" size="11" size-md="11">
      <h2><b>Delivery Address</b></h2>
    </ion-col>
    <ion-col offset=".5" size="11" size-md="11">

      <ion-card>
        <ion-card-content>
          <ion-text color="dark">

            <b>
              Street :&nbsp;
            </b>
          </ion-text>
          315 Pearl Street
          <br>
          <ion-text color="dark">

            <b>
              City :&nbsp;
            </b>
          </ion-text>
          Canada
          <br>
          <ion-text color="dark">

            <b>
              State/Province/Area :&nbsp;
            </b>
          </ion-text>
          Tamil Nadu
          <br>
          <ion-text color="dark">

            <b>
              Phone Number :&nbsp;
            </b>
          </ion-text>
          +9230xxxxxxxxx
          <br>
          <ion-text color="dark">

            <b>
              Zip Code :&nbsp;
            </b>
          </ion-text>
          54700
          <br>
          <ion-text color="dark">

            <b>
              Country Calling Code :&nbsp;
            </b>
          </ion-text>
          +92
          <br>
          <ion-text color="dark">

            <b>
              Country :&nbsp;
            </b>
          </ion-text>
          Pakistan
        </ion-card-content>

      </ion-card>

    </ion-col>
    <ion-col offset=".5" size="11" size-md="11">
      <h2><b>Product Item</b></h2>
    </ion-col>
    <ion-col offset=".5" size="11" size-md="11">
      <ion-card>
        <ion-row>
          <ion-col size="4" size-md="4">
            <img src="../../assets/img/pic7.jpg" alt="">
          </ion-col>
          <ion-col size="8" size-md="8">
            <ion-text color="dark">
              <b>
                Roller Rabbit
              </b>
            </ion-text>
            <br>
            voda ocella dress
            <br>
            <ion-text color="dark">
              <b>
                $192.00
              </b>
            </ion-text>

          </ion-col>

        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col offset=".5" size="11" size-md="11">
      <h2><b>Promo Code</b></h2>
    </ion-col>
    <ion-col offset=".5" size="11" size-md="11">
      <ion-card>
        <ion-row>
          <ion-col size="4" size-md="4">
            <img src="../../assets/img/promo.jpg  " alt="">
          </ion-col>
          <ion-col size="8" size-md="8">
            <br><br>
            <ion-text color="dark">
              <b>
                Add Promo code
              </b>
            </ion-text>
            <br><br>
            XXXX
          </ion-col>

        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col offset=".5" size="6" size-md="8.5">
      <br><br>
      Total Price 
      <ion-text color="dark">
        <h3>
        <b>
          $443.00
        </b>
      </h3>
      </ion-text>
      
    </ion-col>
    <ion-col  size="3" size-md="3">
      <br><br>
      <ion-button shape="round" fill="solid" color="dark">
        Place Order
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>